<h1 mat-dialog-title>Registrar-se</h1>
<div mat-dialog-content>
    @if (form) {
        <form class="form-signup"[formGroup]="form">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="name" name="name">
              @if (form.invalid) {<mat-error>{{getErrorMessage("name", "Nome")}}</mat-error>}
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Fone</mat-label>
              <input matInput formControlName="phone" name="phone" type="tel" [mask]="mascara_tel">
              @if (form.invalid) {<mat-error>{{getErrorMessage("phone", "Telefone")}}</mat-error>}
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Cód Lattes</mat-label>
              <input matInput formControlName="lattes_id" name="lattes_id">
              @if (form.invalid) {<mat-error>{{getErrorMessage("lattes_id", "Cód Lattes")}}</mat-error>}
            </mat-form-field>
            <!-- <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput formControlName="password" name="password" type="password">
              @if (form.invalid) {<mat-error>{{getErrorMessage("password", "Senha")}}</mat-error>}
            </mat-form-field> -->
          </form>
    }
  
</div>
<div mat-dialog-actions>
  <cancel-confirm
    cancelLabel="Cancelar"
    confirmLabel="Registrar"
    (cancelClick)="cancelar()"
    (confirmClick)="onSubmit()"
  >
  </cancel-confirm>
</div>
