<div>    
    <h1 mat-dialog-title style="color: #545454; font-size: 24px;">{{ dialogData.dialogHeader }}</h1>
    <div mat-dialog-content>
      <mat-selection-list #listItens>
        @for (item of dialogData.dialogList; track $index) {
          <mat-list-option [value]="item">
            {{item.name}}
          </mat-list-option>
        }
        
      </mat-selection-list>
    </div>
    <div mat-dialog-actions class="cancelConfirmButtons">
      <button
        mat-button
        (click)="closeDialog()"
        mat-raised-button
        class="cancelButton"
      >
        {{ dialogData.cancelButtonLabel }}
      </button>
      <button
        mat-button
        (click)="handleDialogSubmit(listItens.selectedOptions.selected)"
        mat-raised-button
        class="confirmButton"
      >
        {{ dialogData.confirmButtonLabel }}
      </button>      
    </div>
  </div>