.cancelConfirmButtons{
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 5px;
  
    .cancelButton{
      background-color: white !important;
      color: #545454;
      border-radius: 10px;
      border: 1px solid #545454 !important;
    }
  
    .confirmButton{
      background-color: var(--attention-color) !important;
      color: white;
      border-radius: 10px;
      border: 1px solid var(--attention-color) !important;
  
    }
  }