<div>    
    <h1 mat-dialog-title style="color: #545454; font-size: 24px;">Cadastro de Instituição</h1>
    <div mat-dialog-content style="display: flex; flex-direction: column; padding-top: 16px;" [formGroup]="form">
        
            <mat-form-field appearance="outline" >
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name" id="name">
                @if (form.invalid) {<mat-error>{{getErrorMessage("name", "Nome")}}</mat-error>}
            </mat-form-field>
        
            <mat-form-field appearance="outline" >
                <mat-label>CNPJ</mat-label>
                <input matInput formControlName="document" id="document" id="document" type='text' [mask]="mask_cnpj">
                @if (form.invalid) {<mat-error>{{getErrorMessage("document", "CNPJ")}}</mat-error>}
            </mat-form-field>
        
    </div>
    <div matDialogActions style="justify-content: end !important;">
        <cancel-confirm
                cancelLabel="Cancelar"
                confirmLabel="Confirmar"
                (cancelClick)="cancelar()"
                (confirmClick)="onSubmit()"
            >
        </cancel-confirm>
    </div>
</div>