<container-overflow
    title="Cadastro de Projeto"
>
<form [formGroup]="form">
  
    <div class="line" style="gap: 12px;">

        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Título</mat-label>
            <input matInput formControlName="title" id="title">
            @if (form.invalid) {<mat-error>{{getErrorMessage("title", "Título")}}</mat-error>}
        </mat-form-field>

        <mat-form-field appearance="outline" formGroupName="Institution" style="width: 500px;">
            <mat-label>Selecione a Instituição</mat-label>
            <mat-select formControlName="id" id="id">
                @for (inst of institutions; track $index) {
                    <mat-option [value]="inst.id">
                        {{ inst.name }}
                    </mat-option>
                }
                
            </mat-select>             
            @if (form.invalid) {<mat-error>{{getErrorMessage("Institution.id", "Intituição")}}</mat-error>}
        </mat-form-field> 

        <mat-form-field appearance="outline" style="width: 250px;">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" id="status">
                @for (status of formattedEnumStatus; track $index) {
                    <mat-option [value]="status">
                        {{ enumStatus[status] }}
                    </mat-option>
                }
                
            </mat-select>
            @if (form.invalid) {<mat-error>{{getErrorMessage("status", "Status", true)}}</mat-error>}
        </mat-form-field>

    </div>
   

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="description" 
            id="description" 
            maxlength="512" 
            rows="5" 
            style="resize: none; overflow-y: hidden;"></textarea>
        @if (form.invalid) {<mat-error>{{getErrorMessage("description", "Descrição")}}</mat-error>}
    </mat-form-field>

        <span style="font-size: 18px;">Autores</span>
            <material-table
            [tableData]="selectedAuthors"
            [tableColumns]="authorsColumns"
            (rowClick)="openAuthor($event)"
            [isPageable]="false"
            [isSortable]="false"
            [rowActionIcon3]="rowAction3"
            (rowAction3)="deleteAuthor($event)"
            >
        </material-table>           

        <outline-button (onClick)="openAuthorSelectionDialog()"></outline-button>
  
        <div class="align-bottom align-right">
            <cancel-confirm
                cancelLabel="Cancelar"
                confirmLabel="Confirmar"
                (cancelClick)="cancelar()"
                (confirmClick)="onSubmit()"
            >
        </cancel-confirm>
    </div>

   

  </form>

</container-overflow>