<mat-toolbar style="overflow: hidden;" color="primary" *ngIf="showMenu">
  <mat-toolbar-row style="border-bottom: 1px solid #d4d4d4;">
    <div class="logo" routerLink="">
      <img src="./assets/logo-bar.png" style="height: 60px;">
    </div>
    <span class="userName">Olá {{ loggedUser?.person?.name }}, bem vindo!</span>
    <span class="example-spacer"></span>
    <div class="nav-buttons">
      <button mat-stroked-button class="grey"  routerLinkActive="selected" routerLink="/advanced_search">
        <mat-icon>search</mat-icon>
        Pesquisa Avançada
      </button>
      <button mat-stroked-button class="grey"  routerLinkActive="selected" routerLink="/resources">
        <mat-icon>attach_money</mat-icon>
        Cadastrar Recursos
      </button>
      <button mat-stroked-button class="grey"  routerLinkActive="selected" routerLink="/production">
        <mat-icon>upload_file</mat-icon>
        Cadastrar Produção
      </button>
      <button mat-icon-button class="menu-icon" aria-label="menu button" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-menu #menu="matMenu" class="menu">
    <div class="buttons-media-query">
      <button mat-menu-item routerLink="/advanced_search">
        <mat-icon>search</mat-icon>
        Pesquisa Avançada
      </button>
      <button mat-menu-item routerLink="/resources">
        <mat-icon>attach_money</mat-icon>
        Cadastrar Recursos
      </button>
      <button mat-menu-item routerLink="/production">
        <mat-icon>upload_file</mat-icon>
        Cadastrar Produção
      </button>
    </div>
    <button mat-menu-item (click)="handleLogout()">
      <mat-icon style="color: #ff6666;">logout</mat-icon>
      <span style="color: #ff6666">Sair</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div [ngClass]="{'login': !showMenu}" style="height: calc(100% - 64px); overflow-x: hidden; background-color: white;">
  <router-outlet></router-outlet>
</div>
