.login-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.login-fields{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: auto;
    row-gap: 16px;
    
    span{
      text-align: center;
      margin-top: -6px;
      font-size: 13px;
    }

    a{
      color: #044be3;
    }
}

.logo-img{
    width: 100%;
    max-height: 200px;
    margin-top: 32px;
    object-fit: scale-down;
}

.mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 30px !important;   
  }

  
.mat-success{
    // color: #f7a81c;
  background-color: white;
}

a:hover{
  cursor: pointer;
  text-decoration: underline;
}